#logo .logo h1 {
  width: 240px;
  height: 48px;
  color: #666;
  text-indent: -20000px;
  background: url(/jdhk/src/css/img/logo.png) no-repeat;
}
.all {
  margin-top: 10px;
}
.all .allshop {
  border-bottom: 2px solid #e4393c;
  float: left;
  color: #e4393c;
  font-weight: 700;
  font-size: 16px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  padding: 0 0 10px;
  cursor: pointer;
  margin: 5px 30px 0 0;
}
.carts_header {
  height: 43px;
  line-height: 32px;
  margin: 0 0 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
}
.carts_header > div {
  float: left;
}
.carts_header .check_all {
  height: 25px;
  line-height: 18px;
  padding-top: 7px;
  width: 133px;
  padding-left: 11px;
}
.carts_header .commondity {
  width: 268px;
}
.carts_header .category {
  width: 120px;
  height: 32px;
  padding: 0 20px;
}
.carts_header .unit_price {
  width: 160px;
  padding-right: 40px;
  text-align: right;
}
.carts_header .num {
  width: 80px;
  text-align: center;
}
.carts_header .subtotal {
  width: 140px;
  padding-right: 40px;
  text-align: right;
}
.carts_header .operation {
  width: 75px;
}
#content .title {
  height: 30px;
  line-height: 30px;
  padding-left: 11px;
  font-weight: 700;
  border-bottom: 2px solid #c5c5c5 ;
}
#content .title > div {
  float: left;
}
#content .title .lis_check_all {
  margin-right: 5px;
}
#content .title .list_title {
  cursor: pointer;
}
#content .title .list_title:hover {
  color: #E4393C;
}
#content .lis {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border: 1px solid #c5c5c5;
  background: #fff;
}
#content .lis .lis_content {
  line-height: 20px;
  position: relative;
  padding: 0 10px 1px 40px;
  background: #fff;
}
#content .lis .lis_content .indent {
  padding: 15px 0 10px 0;
}
#content .lis .lis_content .indent > div {
  float: left;
}
#content .lis .lis_content .indent .img_box {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}
#content .lis .lis_content .indent .img_box img {
  height: 80px;
  width: 80px;
}
#content .lis .lis_content .indent .con_title {
  width: 268px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  margin-right: 160px;
}
#content .lis .lis_content .indent .con_title:hover {
  color: #e4393c;
}
#content .lis .lis_content .indent .price {
  width: 120px;
  font-family: verdana;
  text-align: right;
  padding: 0 40px 10px 0;
}
#content .lis .lis_content .indent .quantity {
  width: 80px;
  border: 1px solid #cacbcb;
  border-right: 0;
}
#content .lis .lis_content .indent .quantity > input {
  float: left;
  border-right: 1px solid #cacbcb;
  height: 22px;
  line-height: 18px;
  padding: 1px 0;
  width: 16px;
  text-align: center;
  color: #666;
  margin: 0;
  background: #fff;
}
#content .lis .lis_content .indent .quantity .input_num {
  width: 46px;
  font-size: 12px;
  line-height: 18px;
}
#content .lis .lis_content .indent .total {
  width: 140px;
  font-family: verdana;
  text-align: right;
  padding: 0 40px 10px 0;
  color: #333;
  font-weight: 700;
}
#content .lis .lis_content .indent .del {
  color: #666;
}
#content .lis .lis_content .indent .del:hover {
  color: #e4393c;
}
#content .lis .lis_content .check {
  position: absolute;
  z-index: 3;
  left: 10px;
  top: 0;
  width: 30px;
  min-height: 10px;
  padding: 15px 0 10px;
}
#content .lis .lis_content:nth-child(1) {
  border: none;
}
#content .lis .lisSelect {
  background: #fff4e8;
}
#account {
  border: 1px solid #f0f0f0;
  background: #fff;
  margin-top: 35px;
}
#account .account {
  height: 52px;
}
#account .account > div {
  float: left;
  height: 100%;
}
#account .bot_all {
  background: #fff;
  float: left;
  height: 100%;
  line-height: 18px;
  padding: 16px 0 16px 9px;
  white-space: nowrap;
}
#account .del_bot {
  margin-left: 25px;
  color: #666;
  line-height: 50px;
  cursor: pointer;
}
#account .del_bot:hover {
  color: #e4393c;
}
#account .account .payment {
  float: right;
}
#account .account .payment > div,
#account .account .payment a {
  float: left;
}
#account .account .payment .chosenum {
  color: #999;
  height: 44px;
  line-height: 20px;
  margin: 7px 0 0;
  cursor: pointer;
}
#account .account .payment .chosenum span {
  color: #e4393c;
  font-family: verdana;
  font-weight: 700;
  margin: 0 3px;
}
#account .account .payment .sum {
  text-align: right;
  color: #999;
  line-height: 20px;
  margin: 7px 20px 0 10px;
}
#account .account .payment .sum span {
  font-size: 16px;
  color: #e4393c;
  font-weight: 700;
}
#account .account .payment .pay {
  display: block;
  position: relative;
  width: 96px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "微软雅黑";
  background: #e54346;
  overflow: hidden;
}
.con {
  width: 990px;
}
#foot .con {
  width: 1210px;
}
