body{
	color: #666;
}

/*头部开始*/
#header {
  height: 30px;
  width: 100%;
  background: #f1f1f1;
}
#header .header {
  height: 30px;
}
#header .header .link_index {
  line-height: 30px;
}
#header .header .link_index a {
  color: #9a949b;
  font-size: 12px;
}
#header .header ul li {
  float: left;
  line-height: 30px;
  color: #9a949b;
  font-size: 12px;
  cursor: pointer;
}
#header .header ul li a {
  color: #9a949b;
  font-size: 12px;
}
#header .header ul li:nth-child(2n) {
  margin-top: 9px;
  height: 12px;
  width: 1px;
  background: #ddd;
}
#header .header ul li:nth-child(2n-1) {
  padding: 0 8px;
}
#header .header ul li:nth-child(1) {
  padding: 0 2px;
}
#header .header ul li:nth-child(7) {
  width: 126px;
  padding: 0 2px;
  position: relative;
}
#header .header ul li:nth-child(7) .title {
  position: relative;
  padding: 0 25px 0 25px;
}
#header .header ul li:nth-child(7) .title .at_qr {
  height: 11px;
  width: 11px;
  top: 9px;
  left: 6px;
  position: absolute;
  background: url(/jdhk/src/css/img/splits.png) no-repeat;
  background-position: -60px -39px;
}
#header .header ul li:nth-child(7) .title .at_jt {
  top: 10px;
  right: 6px;
  height: 7px;
  width: 10px;
  position: absolute;
  background: url(/jdhk/src/css/img/splits.png) no-repeat;
  background-position: -59px -62px;
}
#header .header ul li:nth-child(7) .hd_qr {
  position: absolute;
  display: none;
  top: 30px;
  left: 0;
  z-index: 10;
  width: 126px;
  background: #ffffff;
  text-align: center;
  height: 150px;
  border: 1px solid #DDDDDD;
  border-top-color: white;
}
#header .header ul li:nth-child(7) .hd_qr p {
  height: 20px;
  line-height: 20px;
}
#header .header ul li:nth-child(7) .hd_qr p:nth-child(3) {
  color: #7d256e;
}
#header #login .name {
  color: red;
}
#header #exit {
  margin-left: 10px;
}
/*搜索和logo部分开始*/
#logo {
  height: 100px;
  padding-top: 25px;
}
#logo h1 {
  height: 48px;
  width: 240px;
  float: left;
}
#logo h1 a {
  display: block;
  height: 48px;
  width: 240px;
  text-indent: -9999px;
  background: url(/jdhk/src/css/img/logo.png) no-repeat;
}
#logo .from {
  height: 60px;
  margin-right: 25px;
}
#logo .from #search {
  float: left;
  height: 36px;
  width: 473px;
  color: #a9a4a8;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: #ff3e68;
  font-size: 14px;
  padding: 4px;
}
#logo .from #btn {
  cursor: pointer;
  float: left;
  background: #ff3e68;
  height: 36px;
  width: 102px;
  font-size: 16px;
  color: #ffffff;
}
#logo .from .tips {
  font-size: 12px;
  margin-top: 3px;
  height: 24px;
  line-height: 24px;
}
#logo .from .tips a {
  color: #9a949b;
  margin-right: 10px;
}
#logo .cart {
  width: 120px;
  height: 34px;
  position: relative;
}
#logo .cart a {
  width: 120px;
  height: 36px;
  padding: 0 2px 0 26px;
  display: block;
  text-align: center;
  line-height: 36px;
  font-size: 16px;
  color: #ffffff;
  background: #ff3e68;
}
#logo .cart i {
  cursor: pointer;
  position: absolute;
  top: 8px;
  left: 8px;
  height: 20px;
  width: 20px;
  background: url(/jdhk/src/css/img/splits.png);
  background-position: -58px 0;
}
/*nav 开始*/
#nav {
  border-bottom: 1px solid black;
}
#nav .nav .all {
  position: relative;
  height: 42px;
  width: 242px;
  background: black;
}
#nav .nav .all > a {
  padding: 0 10px 0 46px;
  font-size: 16px;
  color: white;
  line-height: 44px;
  display: block;
  height: 100%;
  width: 100%;
}
#nav .nav .all .all_bg {
  position: absolute;
  height: 16px;
  width: 18px;
  top: 14px;
  left: 22px;
  background: url(/jdhk/src/css/img/splits.png) -52px -130px no-repeat;
}
#nav .nav .all .all_item {
  position: absolute;
  top: 43px;
  left: 0;
  height: 525px;
  width: 242px;
  background: black;
  display: block;
  padding-left: 10px;
  z-index: 1;
}
#nav .nav .all .all_item .list_item {
  position: relative;
}
#nav .nav .all .all_item .list_item > p {
  height: 10px;
  width: 100%;
  background: black;
}
#nav .nav .all .all_item .list_item:hover {
  background: white;
}
#nav .nav .all .all_item .list_item:hover a {
  color: black;
}
#nav .nav .all .all_item .list_item:hover .item_l {
  background-position-x: 0;
}
#nav .nav .all .all_item .list_item:hover .item_r {
  background-position-x: -82px;
}
#nav .nav .all .all_item .list_item:hover .details_item {
  display: block;
}
#nav .nav .all .all_item .list_item h3 {
  float: left;
  z-index: 2;
  height: 33px;
  padding: 0 13px 0 35px;
  line-height: 33px;
  font-size: 14px;
}
#nav .nav .all .all_item .list_item h3 a {
  color: #fff;
}
#nav .nav .all .all_item .list_item h3 i {
  position: absolute;
}
#nav .nav .all .all_item .list_item h4 {
  float: left;
  z-index: 2;
  width: 55px;
  font-size: 14px;
  height: 33px;
  overflow: hidden;
  padding: 0 5px 0 2px;
  line-height: 33px;
}
#nav .nav .all .all_item .list_item h4 a {
  color: #C0B6C2;
}
#nav .nav .all .all_item .list_item .details_item {
  position: absolute;
  width: 725px;
  height: 517px;
  background: #fff;
  top: 0px;
  left: 232px;
  display: none;
  z-index: 2;
}
#nav .nav .all .all_item .list_item .details_item .details_l {
  width: 350px;
  margin: 14px 0 0 39px;
}
#nav .nav .all .all_item .list_item .details_item .details_l h5 {
  font-size: 14px;
  font-weight: bold;
  color: #312B30;
  margin-bottom: 14px;
  line-height: 18px;
}
#nav .nav .all .all_item .list_item .details_item .details_l div {
  width: 100%;
  padding-bottom: 12px;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 19px;
  overflow: hidden;
  line-height: 20px;
}
#nav .nav .all .all_item .list_item .details_item .details_l div a {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 12px;
  color: #312B30;
  padding-right: 9px;
  margin-bottom: 10px;
  margin-right: 9px;
  border-right: 1px solid #DEDEDE;
}
#nav .nav .all .all_item .list_item .details_item .details_l div:last-child {
  border: none;
}
#nav .nav .all .all_item .list_item .details_item .details_r {
  width: 280px;
  margin-left: 50px ;
}
#nav .nav .all .all_item .list_item .details_item .details_r .details_r_img {
  margin-left: 10px;
}
#nav .nav .all .all_item .list_item .details_item .details_r .details_r_img li {
  float: left;
  margin: 30px 33px 0 0;
}
#nav .nav .all .all_item .list_item .details_item .details_r .details_r_img > a > img {
  display: block;
}
#nav .nav .all .all_item a:hover {
  text-decoration: underline;
}
#nav .nav .all .all_item i {
  position: absolute;
  background: url(/jdhk/src/css/img/splits.png) no-repeat;
}
#nav .nav .all .all_item .item_l {
  height: 22px;
  width: 17px;
  top: 15px;
  left: 10px;
  background-position-x: -30px;
  background-position-y: 0px;
}
#nav .nav .all .all_item .item_r {
  height: 10px;
  width: 7px;
  top: 21px;
  right: 20px;
  background-position-x: -60px;
  background-position-y: -101px;
}
#nav .nav .all .all_item > .list_item:nth-child(2) .details_item {
  top: -43px;
}
#nav .nav .all .all_item > .list_item:nth-child(3) .details_item {
  top: -86px;
}
#nav .nav .all .all_item > .list_item:nth-child(4) .details_item {
  top: -129px;
}
#nav .nav .all .all_item > .list_item:nth-child(5) .details_item {
  top: -172px;
}
#nav .nav .all .all_item > .list_item:nth-child(6) .details_item {
  top: -215px;
}
#nav .nav .all .all_item > .list_item:nth-child(7) .details_item {
  top: -258px;
}
#nav .nav .all .all_item > .list_item:nth-child(8) .details_item {
  top: -301px;
}
#nav .nav .all .all_item > .list_item:nth-child(9) .details_item {
  top: -344px;
}
#nav .nav .all .all_item > .list_item:nth-child(10) .details_item {
  top: -387px;
}
#nav .nav .all .all_item > .list_item:nth-child(11) .details_item {
  top: -430px;
}
#nav .nav .all .all_item > .list_item:nth-child(12) .details_item {
  top: -473px;
}
#nav .nav > ul li {
  float: left;
  height: 42px;
  width: 88px;
  text-align: right;
  line-height: 42px;
}
#nav .nav > ul li:nth-child(1) {
  width: 60px;
}
#nav .nav > ul li:nth-child(1) a {
  color: black;
}
/*尾部开始*/
#foot {
  height: 254px;
  background: #FF3E68;
  margin-top: 60px;
}
#foot .foot {
  margin-top: 40px;
  background: #FF3E68;
}
#foot .foot .ft_logo {
  float: left;
  height: 59px;
  width: 150px;
  background: url(/jdhk/src/css/img/ft_logo.png);
}
#foot .foot .content {
  margin-left: 43px;
  height: 128px;
  padding-top: 6px;
}
#foot .foot .content ul {
  height: 100%;
  width: 100%;
}
#foot .foot .content ul li {
  float: left;
  padding-left: 64px;
  width: 199px;
}
#foot .foot .content ul li p {
  width: 72px;
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
  color: white;
}
#foot .foot .content ul li a {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 22px;
  color: #d6d6d6;
}
#foot .foot .content ul li a:hover {
  text-decoration: underline;
}
#foot .foot .copy {
  width: 100%;
  padding-top: 35px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
