#banner {
  height: 525px;
  background: orange;
}
#banner .sale_car_box {
  float: left;
}
#banner .carousel_box {
  float: left;
  margin-left: 242px;
  height: 369px;
  width: 726px;
  position: relative;
}
#banner .carousel_box .carousel_img {
  position: relative;
  height: 100%;
  width: 100%;
}
#banner .carousel_box .carousel_img ul > li {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#banner .carousel_box .carousel_img ul > li > a > img {
  height: 369px;
  width: 726px;
}
#banner .carousel_box .carousel_l {
  position: absolute;
  display: none;
  top: 50%;
  height: 85px;
  width: 40px;
  left: 1px;
  transform: translateY(-50%);
}
#banner .carousel_box .carousel_l a {
  display: block;
  height: 85px;
  width: 40px;
  background: url(/jdhk/src/css/img/slideV2.png) 0 -143px no-repeat;
}
#banner .carousel_box .carousel_l a:hover {
  background-position-y: -50px;
}
#banner .carousel_box .carousel_r {
  position: absolute;
  display: none;
  top: 50%;
  height: 85px;
  width: 40px;
  right: 1px;
  transform: translateY(-50%);
}
#banner .carousel_box .carousel_r a {
  display: block;
  height: 85px;
  width: 40px;
  background: url(/jdhk/src/css/img/slideV2.png) -52px -143px no-repeat;
}
#banner .carousel_box .carousel_r a:hover {
  background-position-y: -50px;
}
#banner .carousel_box .carousel_list {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}
#banner .carousel_box .carousel_list ul li {
  float: left;
  cursor: pointer;
  height: 12px;
  width: 12px;
  background: url(/jdhk/src/css/img/slideV2.png) -20px 0 no-repeat;
  margin-right: 8px;
}
#banner .server {
  float: left;
  width: 242px;
  height: 525px;
  background: #fff;
  position: relative;
}
#banner .server .server_img {
  position: relative;
  overflow: hidden;
  height: 312px;
}
#banner .server .server_img ul {
  position: absolute;
  width: 726px;
}
#banner .server .server_img ul li {
  float: left;
  width: 242px;
  height: 312px;
  background: #fff;
  text-align: center;
}
#banner .server .server_img ul li p {
  display: block;
  font-size: 18px;
  color: #312B30;
  margin: 20px 0 6px;
}
#banner .server .server_img ul li span {
  display: block;
  color: #9A949B;
  font-size: 12px;
  line-height: 18px;
}
#banner .server .server_img ul li img {
  margin: 52px auto 0;
}
#banner .server_list {
  position: absolute;
  height: auto;
  width: auto;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
}
#banner .server_list ul {
  width: auto;
}
#banner .server_list ul li {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  cursor: pointer;
  background: url(/jdhk/src/css/img/slideV2.png) -19px -23px no-repeat;
}
#banner .sale_list {
  margin-left: 240px;
  width: 728px;
}
#banner .sale_list a {
  display: block;
  width: 182px;
  height: 156px;
  float: left;
  border-right: 1px solid #ebe2eb;
  background: #fff;
}
#banner .sale_list a:last-child {
  border: none;
}
#banner .sale_list img {
  display: block;
  width: 181px;
  height: 166px;
}
#banner .sale_list img:hover {
  opacity: .7;
}
#flash_sale {
  margin-top: 48px;
  width: 100%;
}
#flash_sale .time_title {
  height: 24px;
  width: 160px;
  margin: 0 auto 42px;
  background: url(/jdhk/src/css/img/floorTitleV2.png) no-repeat;
}
#flash_sale .count_down {
  height: 60px;
  padding-left: 20px;
  background: #f7f5f7;
}
#flash_sale .count_down span {
  line-height: 60px;
  font-size: 18px;
}
#flash_sale .count_down > span:nth-child(1) {
  margin-right: 20px;
}
#flash_sale .count_down .time span:nth-child(2n-1) {
  color: #863177;
  margin: 0 5px;
}
#flash_sale .count_down .timeEnd {
  color: #863177;
  margin: 0 5px;
  display: none;
}
#flash_sale .time_con {
  width: 100%;
  padding: 20px 0;
  border: 1px solid #f7f5f7;
  border-top: 0;
}
#flash_sale .time_con ul {
  margin-left: -2px;
}
#flash_sale .time_con li {
  float: left;
  width: 242px;
  padding: 0 20px;
  overflow: hidden;
  border-right: 1px solid #e3e2e3;
}
#flash_sale .time_con li a:first-child {
  display: block;
  margin-top: 10px;
}
#flash_sale .time_con li a:first-child img {
  height: 200px;
  width: 200px;
}
#flash_sale .time_con li .con_title {
  display: block;
  width: 100%;
  height: 16px;
  font-size: 12px;
  color: black;
  margin-top: 15px;
  overflow: hidden;
}
#flash_sale .time_con li .con_title:hover {
  color: #863177;
}
#flash_sale .time_con li p {
  margin-top: 3px;
  height: 25px;
}
#flash_sale .time_con li p span,
#flash_sale .time_con li p del {
  line-height: 25px;
}
#flash_sale .time_con li p span:nth-child(1) {
  font-size: 12px;
  color: #9a949b;
  margin-right: 8px;
}
#flash_sale .time_con li p span:nth-child(2) {
  color: #e43a3a;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
  margin-right: 4px;
}
#flash_sale .time_con li p del {
  font-family: Arial;
  font-size: 12px;
  color: #9a949b;
}
#flash_sale .time_con li:last-child {
  border: none;
}
#self_buy {
  margin-top: 48px;
}
#self_buy .self_title {
  height: 24px;
  width: 160px;
  margin: 0 auto;
  background: url(/jdhk/src/css/img/floorTitleV2.png) no-repeat;
  background-position-y: -35px;
}
#self_buy .tips {
  margin: 8px 0 20px 0;
  text-align: center;
  height: 17px;
  font-size: 12px;
  color: #863177;
  vertical-align: middle;
}
#self_buy .tips i {
  display: inline-block;
  background: url(/jdhk/src/css/img/indexV2.png) no-repeat;
  width: 14px;
  height: 14px;
  margin-right: 2px;
  vertical-align: middle;
}
#self_buy .tips i:nth-child(1) {
  background-position: -231px -91px;
}
#self_buy .tips i:nth-child(3) {
  background-position: -231px -109px;
}
#self_buy .tips i:nth-child(5) {
  background-position: -231px -126px;
}
#self_buy .tips i:nth-child(7) {
  background-position: -231px -141px;
}
#self_buy .tips span {
  vertical-align: middle;
}
#self_buy .tab_lis li {
  float: left;
  height: 60px;
  width: 16.6666666%;
  padding: 20px 0;
  background: #f7f5f7;
  cursor: pointer;
  position: relative;
}
#self_buy .tab_lis li p {
  height: 20px;
  text-align: center;
  border-right: 1px solid #d5d5d5;
}
#self_buy .tab_lis li p span {
  display: inline-block;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  color: #312b30;
  vertical-align: middle;
}
#self_buy .tab_lis li:last-child p {
  border-right: 0;
}
#self_buy .tab_lis .pitch {
  background: black;
}
#self_buy .tab_lis .pitch p {
  border-right: 0;
}
#self_buy .tab_lis .pitch p span {
  margin-top: -3px;
  color: white;
}
#self_buy .tab_lis .pitch p i {
  display: inline-block;
  height: 19px;
  width: 43px;
  vertical-align: middle;
  background: url(/jdhk/src/css/img/top8.png);
}
#self_buy .tab_lis .pitch:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
#self_buy .bix_tab_box {
  position: relative;
  height: 523px;
}
#self_buy .tab_con {
  margin-top: 1px;
  position: absolute;
  top: 0;
  left: 0;
}
#self_buy .tab_con .con_box {
  width: 50%;
  overflow: hidden;
  float: left;
  position: relative;
}
#self_buy .tab_con .con_box > a {
  display: block;
  width: 100%;
  height: 260px;
}
#self_buy .tab_con .con_box > a img {
  display: block;
  height: 100%;
  width: auto;
}
#self_buy .tab_con .con_box .details {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 340px;
  height: 165px;
}
#self_buy .tab_con .con_box .details h5 {
  width: 100%;
  height: 18px;
}
#self_buy .tab_con .con_box .details h5 img {
  display: inline-block;
  height: 15px;
  width: 22px;
  margin: -1px 10px 0 0;
}
#self_buy .tab_con .con_box .details h5 span {
  display: inline-block;
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  color: #312b30;
  padding-right: 8px;
  border-right: 2px solid #e6dad6;
}
#self_buy .tab_con .con_box .details .con_title {
  font-size: 18px;
  height: 18px;
  color: #312b30;
  line-height: 18px;
  margin-top: 8px;
  overflow: hidden;
  word-spacing: normal;
}
#self_buy .tab_con .con_box .details .evaluate {
  margin-top: 19px;
}
#self_buy .tab_con .con_box .details .star {
  display: inline-block;
  height: 17px;
  width: 22px;
  background: url(/jdhk/src/css/img/istarV2.png);
}
#self_buy .tab_con .con_box .details .star:nth-child(n+2) {
  margin-left: -5px;
}
#self_buy .tab_con .describe {
  color: #c2b9bb;
  margin-top: 5px;
  font-size: 12px;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
}
#self_buy .tab_con .price {
  margin-top: 16px;
  font-size: 0;
  font-family: Arial;
}
#self_buy .tab_con .price span {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  font-size: 26px;
  font-weight: 700;
  color: #e43a3a;
  margin-right: 4px;
}
#self_buy .tab_con .price del {
  height: 26px;
  line-height: 34px;
  font-size: 12px;
  color: #9a949b;
  vertical-align: top;
}
#self_buy .tab_con .cost {
  line-height: 22px;
  vertical-align: middle;
  font-size: 12px;
  color: #000000;
}
#self_buy .tab_con .cost span {
  margin-left: -2px;
  color: #646fb0;
  font-weight: 900;
  margin-right: 2px;
}
#self_buy .tab_con .sm_box {
  border: 1px solid #f7f5f7;
  border-top: 0;
}
#self_buy .tab_con .sm_con {
  position: relative;
  float: left;
  width: 201px;
  padding: 20px;
  cursor: pointer;
}
#self_buy .tab_con .sm_con > a {
  display: block;
  height: 150px;
  width: 150px;
  overflow: hidden;
  margin: 0 auto;
}
#self_buy .tab_con .sm_con > a img {
  display: block;
  height: 150px;
  width: 150px;
}
#self_buy .tab_con .sm_con .sm_tit {
  width: 160px;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
  color: #312b30;
  margin-top: 7px;
  white-space: nowrap;
  font-size: 12px;
}
#self_buy .tab_con .sm_con .sm_pic {
  font-weight: 700;
  font-size: 20px;
  color: #e43a3a;
  height: 22px;
  line-height: 22px;
  text-align: center;
  margin-top: 7px;
}
#self_buy .tab_con .sm_con .cost {
  margin-top: 2px;
  text-align: center;
}
#self_buy .tab_con .sm_con .top {
  position: absolute;
  background: url(/jdhk/src/css/img/indexV2.png) -247px 0 no-repeat;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  text-align: center;
  line-height: 56px;
  font-size: 18px;
}
#famous .f_title {
  background-position: 0 -108px;
  margin-bottom: 42px;
}
#famous .fl_top {
  position: relative;
  height: 399px;
  width: 403px;
}
#famous .fl_top img {
  position: absolute;
  top: 0;
  left: 0;
  height: 399px;
  width: 403px;
}
#famous .fl_top p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  font-size: 0;
  z-index: 10;
}
#famous .fl_top p span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 12px;
  color: #312b30;
  background: #fff;
  width: 100px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
#famous .fl_top p .curr {
  background: #312b30;
  color: #fff;
}
#famous .fl_top p .curr:after {
  content: '';
  position: absolute;
  top: -16px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #312b30;
}
#famous .fl_bottom {
  width: 403px;
  height: 216px;
  margin-top: -15px;
}
#famous .f_r {
  background: #f7f5f7;
  padding: 3px 0;
  width: 806px;
}
#famous .f_r li {
  float: left;
  width: 403px;
  height: 198px;
}
#famous .f_r li a {
  float: left;
  width: 180px;
  height: 197px;
}
#famous .f_r li .fr_logo {
  height: 32px;
  width: 80px;
  margin: 40px 0 0 20px;
}
#famous .f_r li .txt {
  display: block;
  font-size: 16px;
  width: 150px;
  height: 16px;
  line-height: 16px;
  color: #e43a3a;
  margin: 7px 0 0 30px;
  overflow: hidden;
}
#famous .f_r li .tips {
  display: inline-block;
  position: relative;
  height: 21px;
  line-height: 21px;
  background: #312b30;
  padding: 0 19px 0 30px;
  margin-top: 8px;
  color: #fff;
  opacity: .9;
}
#famous .f_r li .tips i {
  position: absolute;
  background: url(/jdhk/src/css/img/indexV2.png) -243px -162px no-repeat;
  width: 11px;
  height: 21px;
  top: 0;
  right: -11px;
}
#famous .f_r li .lis_img {
  margin-top: 20px;
  width: 203px;
  height: 160px;
  overflow: hidden;
}
#famous .f_r li .lis_img .hid {
  width: 220px;
  height: 160px;
}
#famous .f_r li .lis_img .hid a {
  display: block;
  float: left;
  width: 100px;
  height: 160px;
  margin-right: 3px;
  background: #fff;
  padding-top: 10px;
}
#famous .f_r li .lis_img .hid a img {
  height: 100px;
  width: 100px;
}
#famous .f_r li .lis_img .hid a:hover .wire {
  width: 40px;
}
#famous .f_r li .lis_img .hid a .price {
  text-align: center;
  display: block;
  font-size: 16px;
  font-family: arial;
  color: #e43a3a;
  margin: 0 auto;
}
#famous .f_r li .lis_img .hid .wire {
  display: block;
  position: relative;
  z-index: 1;
  width: 20px;
  height: 3px;
  background: #f7f5f7;
  margin: 14px auto 8px;
  transition: all .3s;
}
#famous .f_r li:nth-child(2),
#famous .f_r li:nth-child(3),
#famous .f_r li:nth-child(6) {
  background: #fff;
}
#famous .f_r li:nth-child(2) .hid a,
#famous .f_r li:nth-child(3) .hid a,
#famous .f_r li:nth-child(6) .hid a {
  background: #f7f5f7;
}
#eat .e_title {
  background-position: 0 -216px;
}
#eat .sm_tips {
  margin-top: 10px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}
#eat .sm_tips span {
  display: inline-block;
  font-size: 12px;
  height: 20px;
  padding: 0 13px;
  margin-right: 8px;
  background: #f7f5f7;
  border-radius: 10px;
}
#eat .sm_tips span a {
  color: #312b30;
}
#eat .sm_tips span a:hover {
  color: #863177;
}
#eat .el_top {
  border-right: 1px solid #e8e7e8;
}
#eat .sm_l {
  display: block;
  height: 270px;
  width: 201px;
}
#eat .el_bottom {
  height: 287px;
}
#eat .con_box {
  width: 202px;
  height: 287px;
  border-right: 1px solid #e8e7e8;
  cursor: pointer;
  position: relative;
}
#eat .con_box .title {
  text-align: center;
  height: 30px;
  background: #f7f5f7;
}
#eat .con_box .title img {
  width: 20px;
  height: 13px;
  margin: 9px 4px 0 0;
  vertical-align: top;
}
#eat .con_box .title span {
  display: inline-block;
  font-size: 14px;
  color: #312b30;
  max-width: 74px;
  line-height: 30px;
  height: 25px;
  overflow: hidden;
  vertical-align: top;
}
#eat .con_box .img_box {
  display: block;
  width: 202px;
  height: 179px;
  padding: 20px 26px 9px;
  overflow: hidden;
}
#eat .con_box .img_box img {
  height: 150px;
  width: 150px;
}
#eat .con_box .bt_title {
  font-size: 12px;
  color: #312b30;
  height: 16px;
  line-height: 16px;
  text-align: center;
  overflow: hidden;
  padding: 0 17px;
}
#eat .con_box .bt_price {
  font-size: 20px;
  color: #e43a3a;
  text-align: center;
  font-family: Arial;
}
#eat .con_box .top {
  position: absolute;
  background: url(/jdhk/src/css/img/indexV2.png) -247px 0 no-repeat;
  width: 40px;
  height: 40px;
  top: 50px;
  left: 20px;
  text-align: center;
  line-height: 56px;
  font-size: 18px;
}
#eat .e_r {
  width: 198px;
}
#eat .e_r .title {
  height: 40px;
  background: #f7f5f7;
  text-align: center;
  font-size: 18px;
  color: #312b30;
  line-height: 40px;
}
#eat .e_r .option {
  height: 25px;
  margin-top: 5px;
  text-align: center;
}
#eat .e_r .option span {
  display: inline-block;
  cursor: pointer;
  height: 27px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  word-break: break-all;
  margin: 0 11px;
  position: relative;
}
#eat .e_r .option .chose {
  border-bottom: 2px solid #863177;
  color: #863177;
}
#eat .e_r .option .chose:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #863177 transparent transparent transparent;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -3px;
}
#eat .e_r .r_conten {
  height: 472px;
  width: 100%;
  position: relative;
}
#eat .e_r .r_conten .item {
  height: 472px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
#eat .e_r .r_conten .item a {
  display: block;
  height: 225px;
  width: 180px;
  margin: 10px auto 24px;
  border-bottom: 1px dashed #e3e2e3;
  position: relative;
}
#eat .e_r .r_conten .item a img {
  height: 160px;
  width: 180px;
}
#eat .e_r .r_conten .item a p {
  font-size: 12px;
  color: #312b30;
  width: 170px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  word-break: break-all;
  text-align: left;
  margin-top: 5px;
}
#eat .e_r .r_conten .item a i {
  display: block;
  position: absolute;
  background: url(/jdhk/src/css/img/indexV2.png) no-repeat;
}
#eat .e_r .r_conten .item a .quotel {
  top: 18px;
  left: 8px;
  width: 26px;
  height: 26px;
  background-position: -152px -189px;
}
#eat .e_r .r_conten .item a .quoter {
  background-position: -186px -189px;
  right: 0;
  bottom: 20px;
  width: 12px;
  height: 12px;
}
#eat .e_bt {
  height: 75px;
  border-top: 1px solid #e3e2e3;
  border-bottom: 2px solid #e3e2e3;
  clear: both;
}
#eat .e_bt a {
  display: inline-block;
  height: 72px;
  width: 151px;
  position: relative;
  float: left;
}
#eat .e_bt a span {
  position: absolute;
  width: 80px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
  opacity: 0;
}
#eat .e_bt a img {
  width: 80px;
  height: 32px;
  margin: 20px 35px;
}
#eat .e_bt a:hover > span {
  opacity: 1;
}
#eat .e_bt a:hover > img {
  opacity: 0;
}
#like .b_title {
  background-position: 0 -539px;
  margin-bottom: 42px;
}
#like .liek_con {
  height: 354px;
  border-bottom: 2px solid #f5f5f5;
}
#like .liek_con .like_items {
  height: 235px;
  margin: 0 20px 16px;
  overflow: hidden;
  position: relative;
}
#like .liek_con .like_items .like_lis {
  position: absolute;
  width: 2460px;
}
#like .liek_con .like_items li {
  float: left;
  width: 150px;
  margin-right: 55px;
}
#like .liek_con .like_items li img {
  height: 150px;
  width: 150px;
}
#like .liek_con .like_items li .like_title {
  display: block;
  color: #312b30;
  width: 150px;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
  word-break: break-all;
  font-size: 12px;
}
#like .liek_con .like_items li .like_price {
  margin: ;
  font-weight: 700;
  color: #e43a3a;
  font-size: 20px;
  font-family: Arial;
  margin-top: 14px;
}
#like .liek_con .pro_bar {
  margin-left: 20px;
}
#like .liek_con .pro_bar .act_l {
  float: left;
  display: inline-block;
  background: url(/jdhk/src/css/img/indexV2.png) -70px 0 no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#like .liek_con .pro_bar .act_l:hover {
  background-position-x: -139px;
}
#like .liek_con .pro_bar .act_r {
  float: left;
  display: inline-block;
  background: url(/jdhk/src/css/img/indexV2.png) -106px 0 no-repeat;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#like .liek_con .pro_bar .act_r:hover {
  background-position-x: -175px;
}
#like .liek_con .pro_bar .bar {
  position: relative;
  display: block;
  float: left;
  height: 2px;
  background: #f7f5f7;
  border-radius: 100px;
  width: 1090px;
  margin: 13px 5px 0 5px;
  cursor: pointer;
}
#like .liek_con .pro_bar .bar .lt_bar {
  width: 239px;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #000;
}
#like .zone {
  height: 160px;
}
#like .zone a {
  display: block;
  float: left;
  margin-right: 10px;
  position: relative;
}
#like .zone a img {
  height: 130px;
  width: 160px;
}
#like .zone a .txt {
  line-height: 20px;
  font-size: 18px;
  color: #312b30;
  display: block;
  position: absolute;
  top: 88px;
  left: 46px;
  width: 72px;
  height: 20px;
  overflow: hidden;
}
#guarantee {
  background: #f7f5f7;
  height: 407px;
  text-align: center;
  min-width: 1210px;
  overflow: hidden;
  margin-top: 60px;
}
#guarantee .guarantee {
  overflow: hidden;
}
#guarantee .gra_title {
  margin-top: 38px;
  text-align: center;
}
#guarantee .gra_title .txt {
  font-size: 24px;
  color: #312b30;
  line-height: 24px;
  margin-right: 8px;
}
#guarantee .content {
  margin-top: 37px;
  height: 234px;
}
#guarantee .content .box {
  height: 100%;
  width: 110%;
}
#guarantee .content .box a {
  display: block;
  float: left;
  height: 234px;
  width: 206px;
  margin-right: 45px;
  position: relative;
  background: #FFF;
}
#guarantee .content .box a img:nth-child(1) {
  height: 200px;
  width: 200px;
}
#guarantee .content .box a img:nth-child(2) {
  position: absolute;
  top: -14px;
  right: -15px;
  width: 27px;
  height: 201px;
}
#guarantee .content .box a span {
  display: block;
  margin-top: 9px;
  font-size: 12px;
  color: #9a949b;
  height: 18px;
  overflow: hidden;
}
#guarantee .more {
  text-align: center;
  height: 18px;
  line-height: 18px;
  margin-top: 21px;
}
#guarantee .more a {
  font-size: 12px;
  color: #312b30;
}
#guarantee .more a:hover {
  color: #863177;
}
#floor {
  right: 72.5px;
  width: 62px;
  border: 1px solid #312b30;
  border-top: 0;
  z-index: 12;
  position: fixed;
  bottom: 50px;
  display: none;
}
#floor a {
  background: #fff;
  display: block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #000;
  border-top: 1px solid #312b30;
  font-size: 12px;
}
#floor a:hover {
  color: #863177;
  background: #ebe2eb;
}
#floor .cart {
  height: 40px;
}
#floor .cart i {
  display: block;
  width: 20px;
  height: 21px;
  margin: 10px 0 0 22px;
  background: url(/jdhk/src/css/img/gotop.png) 0 0 no-repeat;
}
#floor .cart:hover > i {
  background-position: 0 -24px;
}
#floor .back_top {
  background: #312b30;
  display: block;
  width: 60px;
  height: 40px;
  padding: 0;
}
#floor .back_top i {
  display: block;
  background: url(/jdhk/src/css/img/gotop.png) 0 -49px no-repeat;
  width: 16px;
  height: 10px;
  margin: 15px 0 0 22px;
}
#floor .back_top:hover {
  color: #fff;
  background: #863177;
}
#floor .touch {
  color: #863177;
  background: #ebe2eb;
}
.mt48 {
  margin-top: 48px;
}
.b_title {
  height: 24px;
  width: 160px;
  margin: 0 auto;
  background: url(/jdhk/src/css/img/floorTitleV2.png) no-repeat;
}
.moveL > img {
  transition: all .2s linear;
}
.moveL:hover > img {
  transform: translateX(-5px);
}
.moveTR > img {
  animation: arcr .3s ease;
}
.moveRT > img {
  animation: arct .3s ease;
}
@keyframes arct {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 10px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  75% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes arcr {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 20px);
  }
  50% {
    transform: translate(20px, 20px);
  }
  75% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
